.container{
 display:flex;
 justify-content: center;
 margin:0 auto;
 width: 50%;
}
.part1{
    height:300px;
    width: 300px;
    background-color:hsl(241, 81%, 54%);
    border-radius: 30px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px gainsboro;
    
}
.part1>h3 {
    color: gainsboro;
}
.part1>.circled>h1{
    color: hsl(0, 0%, 100%);
}
.part1>.circled>h5{
    color: gainsboro;
}
.part1>.word2>h2{
    color: hsl(0, 0%, 100%);
}
.part1>.word2>p{
    color:gainsboro;
    padding-bottom: 20px;
}

.circled{
    border-radius: 100%;
    background-color: hsla(256, 72%, 46%, 1);
    position:relative;
    width: 100px;
    margin:auto;
    padding: 2px 10px;
}
.part2{
    height:300px;
    width: 300px;
    padding-left: 30px;
    box-shadow: 1px 1px 1px 1px gainsboro;
}
.box{
    border:1px solid black;
    border-radius:5px;
    margin-top:7px;
    padding-left: 5px;
    height:45px;
    width:250px;
}
.reaction{
color: hsl(0, 100%, 67%);
}
.memory{
    color:hsl(39, 100%, 56%);
}
.verbal{
    color: hsl(166, 100%, 37%);
}
.visual{
    color:hsl(234, 85%, 45%);
}
.percentage{
    color:black;
    padding-left:140px;
}
button{
    margin:10px 20px;
    width:200px;
    height: 50px;
    border-radius: 20px;
    background-color:hsl(224, 30%, 27%);
    font-weight: 600;
    color:hsl(0, 0%, 100%);
}
